@import "../../SCSS/colors.scss";

.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 16px 16px 0px 0px;
    padding: 25px;
    box-sizing: border-box;

    .header {
        height: 11%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        

        .orderDetails {
            text-align: center;
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: 500;

            div:first-child {
                font-size: 24px;
                line-height: 29px;
            };

            div:last-child {
                font-size: 15px;
                line-height: 18px;
                color: $blue;
            };
        };

        button {
            background: none;
            border:none;
        };
    };

    .description {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;

        div:first-child {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        };

        div:last-child {
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: $gray;
        }
    };

    .orderItems {
        height: 48%;
        overflow-y: scroll;
    };

    .footer {
        height: 31%;
        .totalSale {
            height: 28%;
            width: 100%;
            border-top: 1px solid $lightGray;
            text-align: center;
            line-height: 72px;
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: $gray;
        };
    
        .total {
            height: 53px;
            width: 100%;
            text-align: center;
            line-height: 53px;
            background: $blue;
            color: white;
            border-radius: 8px;
        };
    
        .delivery {
            height: 28%;
            width: 100%;
            text-align: center;
            line-height: 72px;
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: $gray;
        };
    };

    
}